html,
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #D5D4D8;
}

/* font styling */

h1 {
    font-weight: 500;
    text-align: center;
}

/* layout styling */

header,
main {
    margin: auto;
    max-width: 650px;
}

/* form and inputs styling */

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.color-input-wrapper {
    display: flex;
    gap: 1em;
}

input,
select,
button {
    height: 3em;
    align-items: center;
}

input {
    width: 3.75em;
}

select {
    letter-spacing: 1px;
    background-color: transparent;
    color: #D5D4D8;
    flex-grow: 1;
}

select,
button {
    padding: .75rem;
    border-radius: 6px;
}

button {
    font-size: 0.75rem;
    border: none;
    color: white;
    letter-spacing: 1px;
    background-color: #3D4B60;
}

button:hover,
.generate-hex:hover {
    background-color: #505d70;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* colors container layout styling */

.colors-container,
.generate-color,
.generate-hex {
    border: 1px solid rgba(213, 212, 216, 0.5);
}

.colors-container {
    border-radius: 6px;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.generate-color {
    height: 50vh;
}

.generate-hex {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    height: 10vh;
}

.selection-instruction {
    padding: 2rem;
    text-align: center;
}

/* media queries */

@media screen and (max-width: 768px) {
    header,
    main {
        margin: auto;
        max-width: 90%;
    }

  .colors-container {
      display: flex;
      flex-direction: column;
  }

    .generate-hex:hover {
        background-color: transparent;
        cursor: pointer;
    }

  .color-wrapper {
      position: relative;
  }

  .generate-color {
      height: 6.25em;
  }

  .generate-hex {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
  }
}

/* utilities */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
